<div *ngFor="let item of items; let i=index" class="item-card">
    <mat-card>
       <span class="item-name">{{i+1}}. {{item.name}}</span>
       <div class="item-rate">
           Rate: {{item.price}}
       </div>
       <button [disabled]="item.qty==0" type="button" value="minus" (click)="item.qty = item.qty - 1;publishChanges();"> - </button>
        {{item.qty}} 
       <button type="button" value="plus" (click)="item.qty = item.qty + 1;publishChanges();"> + </button>
    </mat-card>
</div>
